<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MyServiceTest.MyMathService" behaviorConfiguration="myMathServiceBehave">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9003/MyMathService"/>
            <add baseAddress="net.tcp://localhost:9004/MyMathService"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:9003/MyMathService" binding="basicHttpBinding" contract="MyServiceTest.IMyMathService"/>
        <endpoint address="net.tcp://localhost:9004/MyMathService" binding="netTcpBinding" contract="MyServiceTest.IMyMathService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myMathServiceBehave">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>